:root {
    --couleur-primaire : #753785;
}

body, header {
 background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 60%, rgba(164,70,252,0.3) 98.7%, #502a62 100%); 
}

h1,h2,h3,h4,h5,h6 {
  font-family: Combine, sans-serif;
}

html {
  font-family: "Segoe UI Semibold", sans-serif;
  color: #502a62;
 
}

a:hover {
	text-shadow: #6B03fc 10px 1px 20px;}
}

a.footnote-ref, a.footnote-backref {
text-decoration: none;
color: #6b03fc;
}

a.footnote-ref:hover, a.footnote-backref:hover {
text-decoration: none;
color: #502a62;
}
