:root {
    --couleur-primaire : #753785;
}

body, header {
 background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,0) 60%, rgba(164,70,252,0.3) 98.7%, #502a62 100%); 
}

h1,h2,h3,h4,h5,h6 {
  font-family: Combine, sans-serif;
}

body {
  font-family: Segoe UI Semibold, sans-serif;
  color: #502a62;
 
}

